<div class="container-fluid">
    <app-header></app-header>
    <mat-drawer-container class="example-container" autosize>
        <mat-drawer #drawer class="example-sidenav" mode="side">
            <p>Menu</p>
            <mat-list>
                <mat-list-item style="cursor: pointer" routerLink="/news/last-news" [routerLinkActive]="['']">Ultimas noticias</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item style="cursor: pointer" routerLink="/news/news-follow" [routerLinkActive]="['']">Tus noticias guardadas</mat-list-item>
                <mat-divider></mat-divider>
              </mat-list>

        </mat-drawer>

        <div class="example-sidenav-content">
            <div class="row">
                <div class="col-12">
                    <button type="button" mat-button (click)="drawer.toggle()">
                        <mat-icon>menu</mat-icon>
                    </button>
                </div>
                <div class="col-12">
                    <router-outlet />
                </div>
            </div>
        </div>

    </mat-drawer-container>
</div>